---
interface Props {
	title: string;
	description: string;
	image: string;
	hoverImage: string;
	imageAlt: string;
}

const { title, description, image, imageAlt, hoverImage } = Astro.props;
---

<div class="group rounded px-8 py-12 shadow hover:bg-primary">
	<div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
		<div class="hidden group-hover:block">
			<img
				src={hoverImage}
				alt={imageAlt}
			/>
		</div>
		<div class="block group-hover:hidden">
			<img
				src={image}
				alt={imageAlt}
			/>
		</div>
	</div>
	<div class="text-center">
		<h3
			class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl"
		>
			{title}
		</h3>
		<p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
			{description}
		</p>
	</div>
</div>
